.equation {
  display: flex;
  align-items: center;
}

.summation {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.summation div {
  font-size: 40px;
}

.summation sub,
sup {
  font-size: 12px;
}
